* {
    font-family: Montserrat;
    font-weight: 400;
}

::selection {
    background: #ffffff;
  }
  ::-moz-selection {
    background: #ffffff;
  }

body {
    margin: 0;
}

#bgvid {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: fixed;
    object-fit: cover;
    animation: fade 2s;
}

.header {
    background: rgba(255, 215, 170, 0.9);
    margin-top: calc(50vh - (3em + 40px));
    position: static;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
    border-radius: 40px;

    animation-name: appear;
    animation-duration: 2s;

    text-align: center;
}

.s {
    font-size: 3em;
    font-weight: 900;
}

@keyframes appear {
    from { opacity: 0; margin-left: -200vh; margin-right: 180vh;}
    to { opacity: 1; margin-left: 10vw; margin-right: 10vw; }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.secondary {
    opacity: 0;
    animation: fade 1s 3s forwards;
}

.more {
    width: 100%;
    text-align: center;
    margin-top: 10vh;
    color: white;
    opacity: 0;
    animation: fade 1s 5s forwards;
}

.more span {
    background: #4d424242;
    padding: 20px;
    border-radius: 15px;
}

.divider {
    width: 100%;
    height: 100vh;
}

#content {
    z-index: 20;
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.bgimg {
    width: 100%;
    height: 150vh;
    background-repeat: no-repeat;
    object-fit: cover;
    display: block;
    padding: 50px;
}

#head1 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f5/Kastanienallee%2C_U-Bhf_Eberswalder_Str%2C_Konnopke.jpg);
}

.trans {
    background: rgba(255, 215, 170, 0.9);
    display: inline-block;
    padding: 10px;
}

.text {
    width: calc(100vw - 100px);
    font-size: 1.5em;
    text-indent: 50px;
}