* {
    font-family: Montserrat;
    font-weight: 400;
    box-sizing: border-box;
}

::selection {
    background: #00ff22;
  }
  ::-moz-selection {
    background: #00ff22;
  }

body {
    margin: 0;
}

#bgvid {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: fixed;
    object-fit: cover;
    animation: fade 2s;
}

.header {
    background: rgba(255, 215, 170, 0.9);
    margin-top: calc(45vh - (3em + 40px));
    position: static;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 20px;
    border-radius: 40px;

    animation-name: appear;
    animation-duration: 2s;

    text-align: center;
}

.s {
    font-size: 3em;
    font-weight: 900;
}

@keyframes appear {
    from { opacity: 0; margin-left: -200vh; margin-right: 180vh;}
    to { opacity: 1; margin-left: 10vw; margin-right: 10vw; }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.secondary {
    opacity: 0;
    animation: fade 1s 3s forwards;
}

.more {
    width: 100%;
    text-align: center;
    margin-top: 20vh;
    color: white;
    opacity: 0;
    animation: fade 1s 5s forwards;
}

.more span {
    background: #4d4242a6;
    padding: 20px;
    border-radius: 15px;
}

.divider {
    width: 100%;
    height: 100vh;
}

#content {
    z-index: 20;
    position: absolute;
    width: 100%;
    background-color: transparent;
}

.bgimg {
    width: calc(100vw);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: block;
}

#history  {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f5/Kastanienallee%2C_U-Bhf_Eberswalder_Str%2C_Konnopke.jpg);
}

.trans {
    background: white;
    display: inline-block;
    padding: 10px;
    margin-left: 5vw;
}

.wo {
    display: inline-block;
    padding: 10px;
    margin-left: 5vw;
    color: white;
}

.text {
    background-color: white;
    width: calc(90vw - 40px);
    font-size: 1.1em;
    font-family: 'Open Sans';
    padding: 20px;
    color: black;
    margin-top: 50vh;
    margin-left: 5vw;
}

.setimg {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 50px;
}

#analysis {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/82/Foxconn_Pardubice_01.JPG);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row {
    margin-top: 10vh;
    padding: 5vh;
}

.white {
    color: white;
    text-decoration: underline;
}

.white:hover {
    color: red;
}

.wbg {
    background-color: white;
}
  
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.15);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: black 20px 20px 20px;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 50%;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
}

.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: #000;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

#perspectives {
    background-color: rgba(0, 4, 252, 0.9)
}

.bgvid {
    width: 100%;
    height: 110vh;
    z-index: -1;
    position: absolute;
    object-fit: cover;
}


.blue {
    color: black;
    background: rgba(255, 255, 255, 0.7);
}

.blue:hover {
    text-decoration: underline;
}

